In [2]:
# !pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp311-cp311-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp311-cp311-win_amd64.whl (876 kB)
   ---------------------------------------- 0.0/876.5 kB ? eta -:--:--
   ----------- ---------------------------- 262.1/876.5 kB ? eta -:--:--
   ---------------------------------------- 876.5/876.5 kB 3.3 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [227]:
import pymongo

# Connect to MongoDB
client = pymongo.MongoClient("mongodb://localhost:27017/")

# List all databases
client.list_database_names()

['admin', 'config', 'local']

In [229]:
# Select the database
db = client["pythonmongodb"]

In [230]:
# creating collection
db.create_collection("students")

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pythonmongodb'), 'students')

In [231]:
# Check the current database collections
db.list_collection_names()

['students']

In [232]:
# Select a collection (like a table in SQL)
collection = db["students"]
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pythonmongodb'), 'students')

In [233]:
# Insert a document (record)
document = { "name": "Alice", "age": '25', "city": "New York" }
collection.insert_one(document)

InsertOneResult(ObjectId('67101137ce75d70ae756b570'), acknowledged=True)

In [234]:
# Insert multiple records 
documents = [
    { "name": "Bob", "age": '30', "city": "San Francisco" },
    { "name": "Charlie", "age": '35', "city": "Los Angeles" }
]
collection.insert_many(documents)

InsertManyResult([ObjectId('67101137ce75d70ae756b571'), ObjectId('67101137ce75d70ae756b572')], acknowledged=True)

In [235]:
# Read (Query) Data: Retrieve all documents from a collection.
# Find all documents in the students collection
for student in collection.find():
    print(student)

{'_id': ObjectId('67101137ce75d70ae756b570'), 'name': 'Alice', 'age': '25', 'city': 'New York'}
{'_id': ObjectId('67101137ce75d70ae756b571'), 'name': 'Bob', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101137ce75d70ae756b572'), 'name': 'Charlie', 'age': '35', 'city': 'Los Angeles'}

In [236]:
# Retrieve documents with a specific condition:
# Find documents where the name is 'Alice'
for doc in collection.find({ "name": "Alice" }):
    print(doc)

{'_id': ObjectId('67101137ce75d70ae756b570'), 'name': 'Alice', 'age': '25', 'city': 'New York'}

In [237]:
# Update one document
collection.update_one({ "name": "Alice" }, { "$set": { "age": '26' } })

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [238]:
# Update multiple documents
collection.update_many({ "city": "New York" }, { "$set": { "city": "NYC" } })

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [239]:
documents = [
    { "name": "Johnny", "age": '30', "city": "San Francisco" },
    { "name": "Jimmy", "age": '35', "city": "Los Angeles" }
]
collection.insert_many(documents)

InsertManyResult([ObjectId('67101137ce75d70ae756b573'), ObjectId('67101137ce75d70ae756b574')], acknowledged=True)

In [240]:
for student in collection.find():
    print(student)

{'_id': ObjectId('67101137ce75d70ae756b570'), 'name': 'Alice', 'age': '26', 'city': 'NYC'}
{'_id': ObjectId('67101137ce75d70ae756b571'), 'name': 'Bob', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101137ce75d70ae756b572'), 'name': 'Charlie', 'age': '35', 'city': 'Los Angeles'}
{'_id': ObjectId('67101137ce75d70ae756b573'), 'name': 'Johnny', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101137ce75d70ae756b574'), 'name': 'Jimmy', 'age': '35', 'city': 'Los Angeles'}

In [241]:
# Delete one record
collection.delete_one({ "name": "Alice" })

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [242]:
documents = [
    { "name": "Harry", "age": '33', "city": "San Francisco" },
    { "name": "Ketty", "age": '332', "city": "Los Angeles" }
]
collection.insert_many(documents)

InsertManyResult([ObjectId('67101138ce75d70ae756b575'), ObjectId('67101138ce75d70ae756b576')], acknowledged=True)

In [243]:
for student in collection.find():
    print(student)

{'_id': ObjectId('67101137ce75d70ae756b571'), 'name': 'Bob', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101137ce75d70ae756b572'), 'name': 'Charlie', 'age': '35', 'city': 'Los Angeles'}
{'_id': ObjectId('67101137ce75d70ae756b573'), 'name': 'Johnny', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101137ce75d70ae756b574'), 'name': 'Jimmy', 'age': '35', 'city': 'Los Angeles'}
{'_id': ObjectId('67101138ce75d70ae756b575'), 'name': 'Harry', 'age': '33', 'city': 'San Francisco'}
{'_id': ObjectId('67101138ce75d70ae756b576'), 'name': 'Ketty', 'age': '332', 'city': 'Los Angeles'}

In [244]:
# Delete multiple documents from a collection where the age field is greater than or equal to 34.
collection.delete_many({ "age": { "$gte": 34 } })

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [245]:
for student in collection.find():
    print(student)

{'_id': ObjectId('67101137ce75d70ae756b571'), 'name': 'Bob', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101137ce75d70ae756b572'), 'name': 'Charlie', 'age': '35', 'city': 'Los Angeles'}
{'_id': ObjectId('67101137ce75d70ae756b573'), 'name': 'Johnny', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101137ce75d70ae756b574'), 'name': 'Jimmy', 'age': '35', 'city': 'Los Angeles'}
{'_id': ObjectId('67101138ce75d70ae756b575'), 'name': 'Harry', 'age': '33', 'city': 'San Francisco'}
{'_id': ObjectId('67101138ce75d70ae756b576'), 'name': 'Ketty', 'age': '332', 'city': 'Los Angeles'}

In [246]:
# Drop a Collection: If you want to delete a collection from the database

# collection.drop()

In [247]:
data = [
    { "name":'Sunny', "age":'30', "city":'Lucknow' },
    { "name":'Pawan', "age":'38', "city":'Pune' },
    { "name":'Khushboo', "age":'25', "city":'Banglore' },
    { "name":'Deepak', "age":'27', "city":'Pune' },
    { "name":'Rohit', "age":'27', "city":'Lucknow' },
];

collection.insert_many(data);

In [248]:
for student in collection.find():
    print(student)

{'_id': ObjectId('67101137ce75d70ae756b571'), 'name': 'Bob', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101137ce75d70ae756b572'), 'name': 'Charlie', 'age': '35', 'city': 'Los Angeles'}
{'_id': ObjectId('67101137ce75d70ae756b573'), 'name': 'Johnny', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101137ce75d70ae756b574'), 'name': 'Jimmy', 'age': '35', 'city': 'Los Angeles'}
{'_id': ObjectId('67101138ce75d70ae756b575'), 'name': 'Harry', 'age': '33', 'city': 'San Francisco'}
{'_id': ObjectId('67101138ce75d70ae756b576'), 'name': 'Ketty', 'age': '332', 'city': 'Los Angeles'}
{'_id': ObjectId('67101138ce75d70ae756b577'), 'name': 'Sunny', 'age': '30', 'city': 'Lucknow'}
{'_id': ObjectId('67101138ce75d70ae756b578'), 'name': 'Pawan', 'age': '38', 'city': 'Pune'}
{'_id': ObjectId('67101138ce75d70ae756b579'), 'name': 'Khushboo', 'age': '25', 'city': 'Banglore'}
{'_id': ObjectId('67101138ce75d70ae756b57a'), 'name': 'Deepak', 'age': '27', 'city': 'Pune'}
{'_id': ObjectId('67101138ce75d70ae756b57b'), 'name': 'Rohit', 'age': '27', 'city': 'Lucknow'}

In [249]:
# Aggregation : Group by

# Group by city and count the number of people
pipeline = [
    { "$group": { "_id": "$city", "count": { "$sum": 1 } } }
]

for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'San Francisco', 'count': 3}
{'_id': 'Pune', 'count': 2}
{'_id': 'Banglore', 'count': 1}
{'_id': 'Lucknow', 'count': 2}
{'_id': 'Los Angeles', 'count': 3}

In [250]:
# In MongoDB, there isn't a direct equivalent of SQL joins because MongoDB is a NoSQL database that operates with a flexible document model rather than rigid table-based relations. However, MongoDB provides the $lookup aggregation stage, which performs operations similar to SQL joins by combining data from different collections.

In [251]:
#=============================>  Where Clause (find)

# In SQL, you use WHERE to filter results. In MongoDB, the find() method serves a similar purpose.

# sql
# SELECT * FROM users WHERE age > 27;

result = db.students.find({ "age": { "$gt": 27 } })

# Iterate over the cursor and print each document
for document in result:
    print(document)

In [252]:
#=============================>  Select Clause (find with projection)

# SELECT name, age FROM users;           // in sql

res = db.stidents.find({}, { "name": "bob"})     # in mdb

print(doc)

{'_id': ObjectId('67101137ce75d70ae756b570'), 'name': 'Alice', 'age': '25', 'city': 'New York'}

In [253]:
#=============================>  Limit Clause (limit) 
# SQL’s LIMIT restricts the number of rows returned. MongoDB uses limit().

# SELECT * FROM users LIMIT 5;          // in sql

result = db.students.find().limit(4)

for res in result:
    print(res)

{'_id': ObjectId('67101137ce75d70ae756b571'), 'name': 'Bob', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101137ce75d70ae756b572'), 'name': 'Charlie', 'age': '35', 'city': 'Los Angeles'}
{'_id': ObjectId('67101137ce75d70ae756b573'), 'name': 'Johnny', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101137ce75d70ae756b574'), 'name': 'Jimmy', 'age': '35', 'city': 'Los Angeles'}

In [254]:
# ============================>  Sort Clause (sort)
# SQL’s ORDER BY sorts the results. MongoDB uses sort()

# SELECT * FROM users ORDER BY age DESC;        // SQL

result = db.students.find().sort("age", pymongo.DESCENDING)

for res in result:
    print(res)

{'_id': ObjectId('67101138ce75d70ae756b578'), 'name': 'Pawan', 'age': '38', 'city': 'Pune'}
{'_id': ObjectId('67101137ce75d70ae756b572'), 'name': 'Charlie', 'age': '35', 'city': 'Los Angeles'}
{'_id': ObjectId('67101137ce75d70ae756b574'), 'name': 'Jimmy', 'age': '35', 'city': 'Los Angeles'}
{'_id': ObjectId('67101138ce75d70ae756b576'), 'name': 'Ketty', 'age': '332', 'city': 'Los Angeles'}
{'_id': ObjectId('67101138ce75d70ae756b575'), 'name': 'Harry', 'age': '33', 'city': 'San Francisco'}
{'_id': ObjectId('67101137ce75d70ae756b571'), 'name': 'Bob', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101137ce75d70ae756b573'), 'name': 'Johnny', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101138ce75d70ae756b577'), 'name': 'Sunny', 'age': '30', 'city': 'Lucknow'}
{'_id': ObjectId('67101138ce75d70ae756b57a'), 'name': 'Deepak', 'age': '27', 'city': 'Pune'}
{'_id': ObjectId('67101138ce75d70ae756b57b'), 'name': 'Rohit', 'age': '27', 'city': 'Lucknow'}
{'_id': ObjectId('67101138ce75d70ae756b579'), 'name': 'Khushboo', 'age': '25', 'city': 'Banglore'}

In [255]:
result = db.students.find().sort("age", pymongo.ASCENDING)

for res in result:
    print(res)

{'_id': ObjectId('67101138ce75d70ae756b579'), 'name': 'Khushboo', 'age': '25', 'city': 'Banglore'}
{'_id': ObjectId('67101138ce75d70ae756b57a'), 'name': 'Deepak', 'age': '27', 'city': 'Pune'}
{'_id': ObjectId('67101138ce75d70ae756b57b'), 'name': 'Rohit', 'age': '27', 'city': 'Lucknow'}
{'_id': ObjectId('67101137ce75d70ae756b571'), 'name': 'Bob', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101137ce75d70ae756b573'), 'name': 'Johnny', 'age': '30', 'city': 'San Francisco'}
{'_id': ObjectId('67101138ce75d70ae756b577'), 'name': 'Sunny', 'age': '30', 'city': 'Lucknow'}
{'_id': ObjectId('67101138ce75d70ae756b575'), 'name': 'Harry', 'age': '33', 'city': 'San Francisco'}
{'_id': ObjectId('67101138ce75d70ae756b576'), 'name': 'Ketty', 'age': '332', 'city': 'Los Angeles'}
{'_id': ObjectId('67101137ce75d70ae756b572'), 'name': 'Charlie', 'age': '35', 'city': 'Los Angeles'}
{'_id': ObjectId('67101137ce75d70ae756b574'), 'name': 'Jimmy', 'age': '35', 'city': 'Los Angeles'}
{'_id': ObjectId('67101138ce75d70ae756b578'), 'name': 'Pawan', 'age': '38', 'city': 'Pune'}

In [256]:
# ============================>  Count Clause (countDocuments)    
# SQL’s COUNT counts the rows. MongoDB uses countDocuments().

# SELECT COUNT(*) FROM users;        // sql

result = db.students.count_documents({"age": "30"})  # Count documents where age is 30
print(result)

3

In [257]:
# =============================> Group By Clause ($group in Aggregation)

result = db.students.aggregate([
    { "$group": { "_id": "$city", "count": { "$sum": 1 } } }
])

for res in result:
    print(res)

{'_id': 'Los Angeles', 'count': 3}
{'_id': 'Pune', 'count': 2}
{'_id': 'Banglore', 'count': 1}
{'_id': 'Lucknow', 'count': 2}
{'_id': 'San Francisco', 'count': 3}

In [258]:
#==============================> MongoDB Equivalent of SQL Joins: Using $lookup
# The $lookup operator is used to join documents from two collections, which is conceptually similar to a SQL JOIN.

# Create collections
users_collection = db["users"]
orders_collection = db["orders"]

In [259]:
# Sample data for users
users_data = [
    {"user_id": 1, "name": "Alice", "city": "New York"},
    {"user_id": 2, "name": "Bob", "city": "San Francisco"},
    {"user_id": 3, "name": "Charlie", "city": "Los Angeles"},
]

In [260]:

# Sample data for orders
orders_data = [
    {"order_id": 1, "user_id": 1, "product": "Laptop"},
    {"order_id": 2, "user_id": 2, "product": "Phone"},
    {"order_id": 3, "user_id": 1, "product": "Monitor"},
    {"order_id": 4, "user_id": 3, "product": "Keyboard"},
]

In [261]:
# Insert sample data
users_collection.insert_many(users_data)
orders_collection.insert_many(orders_data)

InsertManyResult([ObjectId('67101138ce75d70ae756b57f'), ObjectId('67101138ce75d70ae756b580'), ObjectId('67101138ce75d70ae756b581'), ObjectId('67101138ce75d70ae756b582')], acknowledged=True)

In [262]:
#===========================> Joints : $lookup operator to join the orders collection with the users collection based on user_id.

# Perform a join-like operation using $lookup
pipeline = [
    {
        "$lookup": {
            "from": "users",           # Collection to join
            "localField": "user_id",   # Field from orders collection
            "foreignField": "user_id",  # Field from users collection
            "as": "user_info"          # Output field for joined data
        }
    },
    { "$unwind": "$user_info" }  # Flatten the user_info array
]

# Execute the aggregation
result = orders_collection.aggregate(pipeline)

# Display the results
for document in result:
    print(document)

{'_id': ObjectId('67101138ce75d70ae756b57f'), 'order_id': 1, 'user_id': 1, 'product': 'Laptop', 'user_info': {'_id': ObjectId('67101138ce75d70ae756b57c'), 'user_id': 1, 'name': 'Alice', 'city': 'New York'}}
{'_id': ObjectId('67101138ce75d70ae756b580'), 'order_id': 2, 'user_id': 2, 'product': 'Phone', 'user_info': {'_id': ObjectId('67101138ce75d70ae756b57d'), 'user_id': 2, 'name': 'Bob', 'city': 'San Francisco'}}
{'_id': ObjectId('67101138ce75d70ae756b581'), 'order_id': 3, 'user_id': 1, 'product': 'Monitor', 'user_info': {'_id': ObjectId('67101138ce75d70ae756b57c'), 'user_id': 1, 'name': 'Alice', 'city': 'New York'}}
{'_id': ObjectId('67101138ce75d70ae756b582'), 'order_id': 4, 'user_id': 3, 'product': 'Keyboard', 'user_info': {'_id': ObjectId('67101138ce75d70ae756b57e'), 'user_id': 3, 'name': 'Charlie', 'city': 'Los Angeles'}}

In [263]:
# Close the Connection: After you're done interacting with MongoDB, it's a good practice to close the connection.

# client.close()